<h1>Govspeak in:</h1>

<form method="post" action="/preview/" class="govspeak-preview-input">

	<label for="govspeak_input"></label>
	<textarea id="govspeak_input" name="govspeak"><%= @govspeak_input %></textarea>

	<input class="buig button" type="submit" value="Preview" />

</form>	

<h2>Govspeak out:</h2>

<article class="govspeak-preview-output">
	<%= @govspeak_output %>
</article>