<div class="govspeak-preview-input">
  <p>
    <a href="https://github.com/alphagov/govspeak" class="govuk-link">Govspeak</a> is a simplified 'markup' language based on
    <a href="http://daringfireball.net/projects/markdown/syntax" class="govuk-link">Markdown</a>.
    It's designed to be as easy-to-read and easy-to-write as possible, using
    simple punctuation instead of complicated tags and code.
  </p>

  <p>
    Check out the <a href="/guide" class="govuk-link">usage docs</a>
    &ndash; or <a href="/?styleguide=markdown" class="govuk-link">try</a>,
    <a href="/?styleguide=govspeak" class="govuk-link">some</a>,
    <a href="/?styleguide=sa_outcome" class="govuk-link">examples</a>.
  </p>

  <form method="post" action="/preview/">
    <%= render "govuk_publishing_components/components/textarea", {
      label: {
        text: "Enter govspeak to preview:"
      },
      id: "govspeak_input",
      name: "govspeak",
      value: @govspeak_input
    } %>
    <%= render "govuk_publishing_components/components/button", {
      text: "Preview",
    } %>
  </form>
</div>

<div class="govspeak-preview-output">
  <% if (@govspeak_doc && !@govspeak_doc.valid?) %>
    <p class="validation-warning">This govspeak doesn't validate and may not be accepted by publishing tools</p>
  <% end %>

  <article>
    <%= render 'govuk_publishing_components/components/govspeak', content: raw(@govspeak_output) %>
  </article>
</div>
