<div class="govspeak-preview-input">
  <h2>THIS IS A EXPERIMENTAL FEATURE FOR CANNED CONTENT</h2>

  <p>
    <a href="https://github.com/alphagov/govspeak">Govspeak</a> is a simplified 'markup' language based on
    <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>.
    It's designed to be as easy-to-read and easy-to-write as possible, using
    simple punctuation instead of complicated tags and code.
  </p>

  <p>
    Check out the <a href="/guide">usage docs</a>
    &ndash; or <a href="/?styleguide=markdown">try</a>,
    <a href="/?styleguide=govspeak">some</a>,
    <a href="/?styleguide=sa_outcome">examples</a>.
  </p>

  <p>
    <h3>Canned Content Example</h3>
    <pre>
      ## [CannedContent:4f3383e4-48a2-4461-a41d-f85ea8b89ba0]
      [CannedContent:4f3383e4-48a2-4461-a41d-3hfd33dfds122]

      The text above is shared content. You can use the tags anywhere to display info:
      [CannedContent:4f3383e4-48a2-4461-a41d-3hfd33dfds122]
    </pre>
  </p>

  <form method="post" action="/preview/">
    <label for="govspeak_input"></label>
    <textarea id="govspeak_input" name="govspeak"><%= @govspeak_input %></textarea>
    <input type="submit" class="submit-button" value="Preview it" />
  </form>
</div>

<div class="govspeak-preview-output">
  <% if (@govspeak_doc && !@govspeak_doc.valid?) %>
    <p class="validation-warning">This govspeak doesn't validate and may not be accepted by publishing tools</p>
  <% end %>

  <article>
    <%= render 'govuk_publishing_components/components/govspeak', content: raw(@govspeak_output) %>
  </article>
</div>
