<div class="govspeak-preview-input">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Govspeak Preview",
    font_size: "l",
    heading_level: 1,
    margin_bottom: 4
  } %>

  <p class="govuk-body">
    <a href="https://govspeak-preview.herokuapp.com/guide" rel="nofollow" class="govuk-link">Govspeak is a simplified version of Markdown used on GOV.UK</a>.
  </p>

  <p class="govuk-body">Enter Govspeak or text from an original digital document (not PDF) to preview how your content will appear on GOV.UK.</p>
  <p class="govuk-body">You can also paste formatted text from an email, website or any word document (but not a pdf) to convert it into Govspeak:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>headings</li>
    <li>bullets</li>
    <li>numbered lists</li>
    <li>links</li>
    <li>email addresses</li>
  </ul>

  <p class="govuk-body">
    For tables, use the <a href="https://www.tablesgenerator.com/markdown_tables#" rel="nofollow" class="govuk-link">tables generator</a>.
  </p>

  <form method="post" action="/preview/">
    <%= render "govuk_publishing_components/components/textarea", {
      label: {
        text: "Paste rich text content into the form below:"
      },
      id: "govspeak_input",
      name: "govspeak",
      value: @govspeak_input
    } %>
    <%= render "govuk_publishing_components/components/button", {
      text: "Preview",
    } %>
  </form>
</div>

<div class="govspeak-preview-output">
  <% if (@govspeak_doc && !@govspeak_doc.valid?) %>
    <p class="validation-warning">This govspeak doesn't validate and may not be accepted by publishing tools</p>
  <% end %>

  <article>
    <%= render 'govuk_publishing_components/components/govspeak', content: raw(@govspeak_output) %>
  </article>
</div>
