<div class="govspeak-preview-output">
  <% if (@govspeak_doc && !@govspeak_doc.valid?) %>
    <p class="validation-warning">This govspeak doesn't validate and may not be accepted by publishing tools</p>
  <% end %>

  <article>
    <%= render 'govuk_component/govspeak', content: @govspeak_output %>
  </article>
</div>
