@import "grid_layout";
@import "typography";
@import "design-patterns/buttons";
@import "govuk_publishing_components/all_components";

#global-header-bar,
#global-breadcrumb,
#global-cookie-message,
#user-satisfaction-survey,
#search {
  display: none !important;
}

.submit-button {
  @include button;
}

.nav {
  margin: $gutter/2 0;

  li {
    margin-right: $gutter/2;
    display: inline-block;
  }
}

.header-logo {
  a {
    display: none;
  }

  &:after {
    content: "Govspeak Preview" !important;
    height: 30px;
    width: 100%;
    margin: 0 15px;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    line-height: 1;
  }
}

.outer-block {
  @include outer-block;
}

.inner-block {
  @include inner-block;
}

.govspeak-preview-input {
  background: #f6f6f6;
  padding: 2em;
  @include core-19;

  p {
    margin-bottom: $gutter / 2;
  }

  textarea {
    width: 100%;
    height: 10em;
    margin-bottom: $gutter / 2;
  }
}


.govspeak-preview-output {
  border-top: 1px solid #aaa;
  padding: 2em 0;

  .inner-block {
    // Enforce a reasonable line length, roughly equiv to GOV.UK behaviour
    // @TODO: Use something from FET (or template) to have the exact same
    // behaviour, rather than roughly immitating with a specific value
    max-width: 42em;
  }
}

// We use code examples which are not styled that well by default
.govspeak-guide {
  .code-snippet + p,
  pre {
    overflow-x: auto;
    max-width: 100%;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: $gutter / 2;
    border: 4px solid $grey-3;
    padding-top: 2.2em;
    margin: 0;
    font-size: 16px;

    &::before {
      content: 'govspeak';
      position: absolute;
      left: 0;
      top: 0;
      padding-left: .5em;
      padding-right: .5em;
      background: $grey-3;
    }
  }

  h2 + pre,
  h3 + pre {
    margin-top: $gutter / 2;
  }
}

.validation-warning {
  background: red;
  color: #fff;
  padding: .5em 1em;
}
