@import "grid_layout.scss";

#global-breadcrumb,
#user-satisfaction-survey {
	display: none;
}

.outer-block {
  @include outer-block;
}

.inner-block {
  @include inner-block;
}


.govspeak-preview-input {
	background: #f6f6f6;
	padding: 1em 0 2em;

	textarea {
		width: 100%;
		height: 10em;
	}
}


.govspeak-preview-output {
	border-top: 1px solid #aaa;
	padding: 2em 0;
}

code {
	font-family: monospace;
	background: #f6f6f6;
	padding: .1em .25em;
}